@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,400;1,600&display=swap");

@import "./styles/_variables.scss";
@import "./styles/_mixins.scss";

.App {
  @include box-model(0, 0, 100vw, 100vh);

  font-family: "Poppins", sans-serif;
  background-color: $senary-color;
  text-align: center;
}
